*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.hero{
    background-image: linear-gradient(15deg, rgba(19, 84, 122, 0.24) 0%, rgba(67, 146, 137, 0.534) 100%), url(Imagenes/Imagen_Inicio.jpg);
    width: 100%;
    height: 650px;
    max-width: 1400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    z-index: 1;
    overflow: hidden;
}

.menu{
    width: 100%;
    height: 80px;
    max-width: 1400px;
    position: fixed;
    align-items: initial;
    background-color: rgba(42, 134, 129, 0.842);
    padding: 0px;
    margin: 0px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

.barra_navegacion{
    text-align: right;
    padding: 20px;
    margin: 20px;
    margin-top: 10px;
    word-spacing: 15px;
    float: right;
    object-fit: cover;
}

.barra_navegacion>a {
    color: white;
    text-decoration: none;
}

.barra_navegacion a:hover{
    color: rgb(153, 236, 75);
    text-decoration: wavy;
}

#ingresar{
    background: rgb(86, 142, 158);
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 20px 60px;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 17px 7px rgba(17, 105, 83, 0.59);
    -moz-box-shadow: 0px 0px 17px 7px rgba(17, 85, 68, 0.59);
    box-shadow: 0px 0px 17px 7px rgba(12, 71, 57, 0.59);
    border-radius: 5px;
}

#ingresar:hover{
    background: lawngreen;
}

.bienvenido{
    margin-top: 190px;
    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    text-align: center;
    text-size-adjust: 40px;
    text-shadow: 0px 0px 20px black;
    display: flex;
    flex-direction: column;
    
}

.texto_inicio{
    margin-top: -10px;
    margin-bottom: 200px;
    font-size: 25px;
    color: white;
    text-align: center;
}


/*equipo*/

body {
            max-width: 1400px;
            min-width: 375px;
            margin-right: auto;
            margin-left: auto;
            margin-top: 0;
            margin-bottom: 0;
            color: #222222;
        }

        .seccion-de-equipo {
            display: flex;
            margin-bottom: 100px;
        }

        .team-info{
            width: 25%;
            padding: 15px;
        }

        .imagen_team-info{
            display: block;
            margin-right: auto;
            margin-left: auto;
        }




/*contacto*/

.footer-section .izquierda{
    border: 1px = "left" solid black;
    width: 50%;
    height: 450px; 
    background-color: rgb(73, 73, 73);
    color: rgb(240, 238, 238);
    font-family: 'Open Sans';
    font-size:large;
    text-align: left;
    float: left;
}
.footer-section .derecha{
    border: 1px 1px 1px 1px solid black;
    width: 50%;
    height: 450px;
    background-color: rgb(73, 73, 73);
    color: rgb(218, 212, 212);
    font-family: 'Open Sans';
    font-size:large;
    text-align: left;
    float: right;
}

.copyright{
    text-align: center;
    background-color: rgb(36, 39, 36);
    color: rgb(110, 107, 107);
    font-family: 'Open Sans';
    font-size: larger;   
}

.redessociales{
    font-size: larger;
}

.gmail{
    font-size: larger;
}
.gmail:hover{
    text-decoration: underline;
}




.texto-contacto{
	text-align: left;
}

.email-contacto{
	color: #848484;
	text-decoration: none;
}

.email-contacto:hover{
	text-decoration: underline;
}


input[type="text"], input[type="email"]{
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
}


textarea{
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
}

.nombre-mensaje{
	width: 95%;
}

.email-asunto{
	width: 45%;
}


input[type="submit"]{
	padding: 10px;
    background: rgb(98, 190, 5);
	color: #fff;
	border: 1px solid rgb(77, 151, 3);
	border-radius: 5px;
}

/*loggin*/

.body{
    overflow: hidden;
}

.loggin{
    background-image: linear-gradient(120deg, rgba(63, 137, 145, 0.5) 0%, rgba(63, 137, 145, 0.5) 100%), url(Imagenes/Background_loggin.jpg);
    width: 100%;
    height: 100%;
    max-width: 1400px;
    margin-top: -20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.espacio_blanco{
    width: 100px;
    height: 80px;
    margin-top: 10px;
    margin-top: -20px;
}

.image_loggin{
    width: 100px;
    margin: 15px;
}

.image_username{
    height: 20px;
    margin: 20px;
    margin-top: 8px;
    float: left;
}

.image_password{
    height: 20px;
    width: 15px;
    margin: 20px 22px;
    margin-right: 23px;
    margin-top: 8px;
    float: left;

}

.input{
    width: 220px;
    height: 35px;
    padding: 10px;
    background-color: rgb(78, 148, 155);
    color: white;
    border-radius: 12px;
    border: 6px double white;
}

.input::placeholder{
    color: rgba(255, 255, 255, 0.445);
    font-family: sans-serif;
}

.iniciar_sesion_texto{
    margin: 20px;
    color: rgb(56,124,130);
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 25px;
}

#texto_loggin{
    font-size: 15px;
    margin-left: 170px;
    color: rgb(56,124,130);
    float: right;
    align-items: baseline;
}

#boton_acceder{
    margin: 40px;
    padding: 10px 20px;
    color: white;
    background-color: rgb(63,137,145);
    border: 2px solid rgb(56,124,130);
    border-radius: 25px;
    box-shadow: 0px 0px 12px 5px rgba(12, 71, 57, 0.59);
}

#boton_acceder:hover{
    color: rgb(0,214,252);
    border-color: rgb(0, 214, 252);
    box-shadow: 0px 0px 12px 5px rgba(23, 141, 177, 0.59);    

}

#recuadro_loggin{
    width: 35%;
    height: 520px;
    margin: auto auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
    border: 10px solid rgb(86, 142, 158);
    border-radius: 60px;
    box-shadow: 19px 0px 74px 29px rgba(0,0,0,0.75);
}

/*admin*/

#header_admin{
    width: 100%;
    height: 20px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    background-color: rgb(133, 185, 191);
    color: white;
    border: 3px solid rgb(66, 130, 133);
    font-family: sans-serif;
}

#h2_navegacion{
    width: 25%;
    padding: 18px;
    padding-right: 1%;
    margin-right: 15px;
    margin-left: -16px;
    border: 3px none rgb(66, 130, 133);
    border-right-style: solid;
    
}

#h2_categorias{
    margin-left: 20px;
}

#contenido_admin{
    display: flex;
    flex-direction: row;
}

#section_navegacion{
    width: 25%;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 30%;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(66, 130, 133);
    border-top-style: none;
    font-size: 20px;
    font-family: sans-serif;
}

.parrafo{
    margin: 10px;
    display: flex;
}

#parrafo_productos{
    width: 100%;
    background-color: rgb(200, 232, 235);
    color: rgb(63, 137, 145);
    margin: 0px;
    text-align: left;
}

#parrafo_citas{
    margin-left: 7px;
}

#parrafo_noticias{
    margin-left: 2px;
}

#parrafo_contacto{
    margin-left: 4px;
}

#parrafo_basedatos{
    margin-left: 3px;
}

.imagen_admin{
    margin: 15px 20px;
    margin-left: 35px;
    float: left;   
}

.imagen_productos{
    background-color: white;
}

#boton_nuevo{
    width: 150px;
    margin: 10px;
    margin-top: 25px;
    padding: 8px;
    padding-left: 1px;
    background-color: rgb(63, 137, 145);
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    border: none;
    border-radius: 10px;
    text-align: right;
    align-content: center;
}

.boton{
    background-color: rgb(63, 137, 145);
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    border: none;
    border-radius: 10px;
    text-align: right;
}

#boton_mas{
    margin-right: 20px;
    padding-left: -105px;
}

